<iframe
    src="http://localhost:5601/app/kibana#/visualize/edit/7dfc0a60-89ad-11ec-a149-9371d9e1e043?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow%2Fy))"
    height="600" width="1000"></iframe>

<iframe
    src="http://localhost:5601/app/kibana#/visualize/edit/092981c0-89af-11ec-a149-9371d9e1e043?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fy%2Cmode%3Aquick%2Cto%3Anow%2Fy))"
    height="600" width="900"></iframe>